ipykernel
nest_asyncio
sentence-transformers
llama_index
llama-index-llms-google-genai
llama-index-embeddings-google_genai
google-generativeai
llama-index-llms-ollama
llama-index-embeddings_huggingface